@font-face {
    font-family: 'palitoonregular';
    src: url('palitoon-font/palitoon-webfont.eot');
    src: url('palitoon-font/palitoon-webfont.eot?#iefix') format('embedded-opentype'),
         url('palitoon-font/palitoon-webfont.woff2') format('woff2'),
         url('palitoon-font/palitoon-webfont.woff') format('woff'),
         url('palitoon-font/palitoon-webfont.ttf') format('truetype'),
         url('palitoon-font/palitoon-webfont.svg#palitoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: black;
  font-family: 'palitoonregular'
  color: #CCCCCC;
  text-align: center;
  text-shadow: 2px 2px 2px #9999CC;
  /*background: 'HP-theme-song.mp3';*/
}

.header {
  font-family: 'palitoonregular';
  color: #FF4;
  font-size: 30px;
  height: 175px;
  width: 1200px;
}

h1 {
  margin-top: -10px;
}

.main {
  background-color: #333333;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("images/ForbForstBkgnd.jpg");
  height: 850px;
  width: 1200px;
}

.question-top {
  background-color: #333333;
  height: 185px;
  width: 150px;
  display: inline-block;
}

.unavailable {
  display: none;
  /*background-image: url("images/HogwartsWipeOut.jpg");*/
}


#gryffindor {
  background-image: url("images/gryffindor-crest.png");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 25px;

}

#ravenclaw {
  background-image: url("images/ravenclaw-crest.jpeg");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 25px;
}
#slytherin {
  background-image: url("images/slytherin-crest.jpg");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 25px;
}

#hufflepuff {
  background-image: url("images/hufflepuff-crest.jpeg");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 25px;
}

#question-space {
  height:300px;
  width: 600px;
  margin-top: 10px;
  margin-left: 316px;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 50px;
}

.answer-box-question {
  height: 275px;
  width: 575px;
  border: 2px solid #330033;
  background: #660066;
  opacity: 0.75;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 35px;
  padding-top: 175px;
}

.answer-container {
  padding-top: 30px;
}

.button {
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  color: #fff;
  font-family: 'palitoonregular';
  font-size: 20px;
  display: inline-block;
  padding-top: 2px;
}

.reset-button {
  border: 1px;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  color: #fff;
  font-family: 'palitoonregular';
  font-size: 15px;
  float: right;
  display: inline-block;
  padding-top: 2px;
}

#right {
  height: 200px;
  width: 350px;
  margin-top: 50px;
  margin-left: 460px;
  text-align: center;
  background-image: url("images/HarryPotterImg.gif");
  font-family: 'palitoonregular';
  font-size: 25px;
}

#wrong {
  height: 200px;
  width: 350px;
  margin-top: 50px;
  margin-left: 460px;
  text-align: center;
  background-image: url("images/snape-wrong.gif");
  font-family: 'palitoonregular';
  font-size: 25px;
}

.player {
  display: inline-block;

}

#player-1 {
  float: left;
  margin-left: 110px;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 20px;
}

#player-2 {
  float: right;
  margin-right: 110px;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 20px;
}

.score-box {
  border: 2px solid #fff;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 13px;
  height: 30px;
  width: 30px;
  padding-top: 8px;
}

#p1-score {
  float: left;
  margin-left: -52px;
  margin-top: 40px;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 20px;
}

#p2-score {
  float: right;
  margin-right: -52px;
  margin-top: 40px;
  font-family: 'palitoonregular';
  color: #fff;
  font-size: 20px;
}
