@font-face {
      font-family: "lumos";
      src: url("LUMOS.TTF") format('truetype');
    }

body {
  background-color: black;
  font-family: "lumos", cursive;
  color: #CCCCCC;
  text-align: center;
  text-shadow: 2px 2px 2px #9999CC;
  /*background: 'HP-theme-song.mp3';*/
}

.main {
  background-color: #333333;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("images/ForbForstBkgnd.jpg");
  height: 650px;
  width: 1200x;
}

.question-top {
  background-color: #333333;
  height: 185px;
  width: 150px;
  display: inline-block;
}

#gryffindor {
  background-image: url("images/gryffindor-crest.png");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;

}

#ravenclaw {
  background-image: url("images/ravenclaw-crest.jpeg");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;
}
#slytherin {
  background-image: url("images/slytherin-crest.jpg");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-right: 40px;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;
}

#hufflepuff {
  background-image: url("images/hufflepuff-crest.jpeg");
  overflow: hidden;
  background-size: contain;
  background-position: center;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #CCCCCC;
}

#question-space {
  height:300px;
  width: 600px;
  margin-top: 10px;
  margin-left: 316px;

}

.answer-box-question {
  height: 275px;
  width: 575px;
  border: 2px solid white;
  border: 2px solid #FF9999;
  background: #FF3333;
  opacity: 0.75;
  font-size: 30px;
  padding-top: 175px;
}

.answer-container {
  padding-top: 30px;
}

.button {
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  color: #fff;
  font-family: 'Calligraffitti', cursive;
  font-size: 15px;
  display: inline-block;
  padding-top: 2px;
}

.player {
  display: inline-block;
}

#player-1 {
  float: left;
  margin-left: 100px;
  font-size: 20px;
}

#player-2 {
  float: right;
  margin-right: 100px;
  font-size: 20px;
}

.score-box {
  border: 2px solid #fff;
  font-size: 13px;
  height: 30px;
  width: 30px;
}

#p1-score {
  float: left;
  margin-left: -64px;
  margin-top: 40px;
}

#p2-score {
  float: right;
  margin-right: -64px;
  margin-top: 40px;
}
